<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.machine.dragon.service.system.role.mapper.DragonRoleMapper">

    <sql id="DragonRoleColumn">
        `id`
        ,`Role_id`,
        `role_id`,
        `parent_id`,
        `code`,
        `name`,
        `sort`,
        `remark`,
        `create_user`,
        `create_time`,
        `update_user`,
        `update_time`,
        `is_deleted`
    </sql>

    <resultMap id="DragonRoleEntityMap"
               type="com.machine.dragon.service.system.role.mapper.entity.DragonRoleEntity">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="role_id" property="roleId"/>
        <result column="parent_id" property="parentId"/>
        <result column="code" property="code"/>
        <result column="name" property="name"/>
        <result column="sort" property="sort"/>
        <result column="remark" property="remark"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <select id="selectByRoleId" resultMap="DragonRoleEntityMap">
        select
        <include refid="DragonRoleColumn"/>
        from t_dragon_role
        where role_id = #{roleId}
    </select>

    <select id="selectRoleList" resultMap="DragonRoleEntityMap">
        select
        <include refid="DragonRoleColumn"/>
        from t_dragon_role
    </select>

    <select id="selectRolePage" resultMap="DragonRoleEntityMap">
        select
        <include refid="DragonRoleColumn"/>
        from t_dragon_role
        <where>
            <if test="query.name != null and query.name != ''">
                AND name like CONCAT('%', #{query.name}, '%')
            </if>
        </where>
    </select>
</mapper>