<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.machine.dragon.service.system.rabbit.mapper.DragonRabbitReliableMessageMapper">

    <sql id="DragonRabbitReliableMessageColumn">
        `id`
        ,`tenant_id`,
        `message_key`,
        `message_class_name`,
        `publish_exchange`,
        `publish_routing_key`,
        `publish_name`,
        `subscribe_queues`,
        `subscribe_name`,
        `max_resend_times`,
        `resend_times`,
        `last_send_time`,
        `subscribe_times`,
        `last_subscribe_time`,
        `next_exe_time`,
        `retry_strategy`,
        `create_time`,
        `update_time`,
        `is_deleted`
    </sql>

    <resultMap id="DragonRabbitReliableEntityMap"
               type="com.machine.dragon.service.system.rabbit.mapper.entity.DragonRabbitReliableMessageEntity">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="message_key" property="messageKey"/>
        <result column="message_class_name" property="messageClassName"/>
        <result column="publish_exchange" property="publishExchange"/>
        <result column="publish_routing_key" property="publishRoutingKey"/>
        <result column="publish_name" property="publishName"/>
        <result column="subscribe_queues" property="subscribeQueues"/>
        <result column="subscribe_name" property="subscribeName"/>
        <result column="max_resend_times" property="maxResendTimes"/>
        <result column="resend_times" property="resendTimes"/>
        <result column="last_send_time" property="lastSendTime"/>
        <result column="subscribe_times" property="subscribeTimes"/>
        <result column="last_subscribe_time" property="lastSubscribeTime"/>
        <result column="next_exe_time" property="nextExeTime"/>
        <result column="retry_strategy" property="retryStrategy"/>
        <result column="create_time" property="createTime"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <insert id="deadById">
        insert into t_dragon_rabbit_dead_message
        select *
        from t_dragon_rabbit_reliable_message
        where id = #{id}
    </insert>

    <update id="update4Subscribe">
        update t_dragon_rabbit_reliable_message
        set
        subscribe_times = subscribe_times + 1,
        last_subscribe_time = now(),
        next_exe_time = date_add(now(), interval #{inDto.nextTimeSeconds} second)
        where id = #{inDto.id}
    </update>

    <update id="update4ResendMessage">
        update t_dragon_rabbit_reliable_message
        set resend_times = resend_times + 1,
        <if test="nextTimeSeconds != null">
            next_exe_time = date_add(now(), interval #{nextTimeSeconds} second),
        </if>
        last_send_time = now()
        where id = #{id}
        and update_time = #{updateTime}
    </update>

    <select id="getIdByMessageKey" resultType="java.lang.String">
        select id
        from t_dragon_rabbit_reliable_message
        where message_key = #{messageKey}
    </select>

    <select id="selectByCurrentDateTime" resultMap="DragonRabbitReliableEntityMap">
        select
        <include refid="DragonRabbitReliableMessageColumn"/>
        from t_dragon_rabbit_reliable_message
        where next_exe_time &lt; now()
        and update_time &lt; #{dateTime}
        order by next_exe_time
        limit 500
    </select>

</mapper>