<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.machine.dragon.service.system.tenant.mapper.DragonTenantMapper">

    <sql id="DragonTenantColumn">
        `id`
        ,`tenant_id`,`name`,`full_name`,`status`,`description`,`create_user`,`create_time`,`update_user`,`update_time`,`is_deleted`
    </sql>

    <resultMap id="DragonTenantEntityMap"
               type="com.machine.dragon.service.system.tenant.mapper.entity.DragonTenantEntity">
        <id column="id" property="id"/>
        <result column="tenant_id" property="tenantId"/>
        <result column="name" property="name"/>
        <result column="full_name" property="fullNname"/>
        <result column="status" property="status"/>
        <result column="description" property="description"/>
        <result column="create_user" property="createUser"/>
        <result column="create_time" property="createTime"/>
        <result column="update_user" property="updateUser"/>
        <result column="update_time" property="updateTime"/>
        <result column="is_deleted" property="deleted"/>
    </resultMap>

    <select id="selectByTenantId" resultMap="DragonTenantEntityMap">
        select
        <include refid="DragonTenantColumn"/>
        from t_dragon_tenant
        where tenant_id = #{tenantId}
    </select>

    <select id="selectTenantPage" resultMap="DragonTenantEntityMap">
        select
        <include refid="DragonTenantColumn"/>
        from t_dragon_tenant
        <where>
            <if test="query.name != null and query.name != ''">
                AND (name like CONCAT('%', #{query.name}, '%')
                OR full_name like CONCAT('%', #{query.name}, '%'))
            </if>
        </where>
    </select>
</mapper>